.unknown {
    display: inline-block;
    width: fit-content;
    height: fit-content;
    min-height: 65.63px;
    min-width: 82.05px;
    margin-left: 6px;
    margin-right: 6px;
}

.unknown.board-text {
    justify-items: end;
}

.background {
    background-image: url('/assets/basecard.png');
    position: fixed;
    offset-position: top 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgb(198, 225, 249);
    border-radius: 10%;
    border: 1px solid #ebe2a9;
    box-sizing: border-box;
    padding: 52.900px  42.025px 14.725px;
    z-index: 1;
}

.board-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.75rem;
    text-align: center;
    box-sizing: border-box;
    position: absolute;
    margin-top:42px;
    margin-left: 20px;
    z-index: 4;
}

/* .board-text {
    margin-top: 50.900px;
    margin-bottom: 12.725px;
    margin-left: 42.425px;
    margin-right: 42.425px;
} */

.discovered {
    background-image: url('/assets/blue.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgb(198, 225, 249);
    border-radius: 10%;
    border: 1px solid #ebe2a9;
    box-sizing: border-box;
    padding: 52.900px  42.025px 14.725px;
    z-index: 1;
}

/* img.board-image {
    border-radius: 10%;
    justify-content: center;
    max-width: 75%;
    max-height: 75%;
    padding-bottom: 1px;
} */