.unknown {
    display: inline-block;
    background-image: url('/assets/basecard.png');
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgb(198, 225, 249);
    border-radius: 10%;
    border: 1px solid #ebe2a9;
    box-sizing: border-box;
    padding: min(6%, 50.900px)  min(7.5%, 40.025px) min(1.5%, 12.725px);
    max-height: 82.025px;
    max-width: 119.45px;
    margin-left: 3px;
    margin-right: 3px;
    vertical-align: bottom;
}

.board-text {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    align-content: center;
    font-size: 1rem;
    box-sizing: border-box;
    
    min-width: 50px;
    margin: 0px;

}

/* .board-text {
    margin-top: 50.900px;
    margin-bottom: 12.725px;
    margin-left: 42.425px;
    margin-right: 42.425px;
} */

.discovered {
    display: inline-block;
    background-image: url('/assets/basecard.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgb(198, 225, 249);
    border: 10%;
    border-radius: 10%;
    padding: 6% 5% 1.5% 5%;

    margin-left: 3px;
    margin-right: 3px;
}

/* img.board-image {
    border-radius: 10%;
    justify-content: center;
    max-width: 75%;
    max-height: 75%;
    padding-bottom: 1px;
} */