.unknown {
    display: inline-block;
    background-image: url('/assets/basecard.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgb(198, 225, 249);
    border: 10%;
    border-radius: 10%;
    padding: 6% 5% 1.5% 5%;

    margin-left: 3px;
    margin-right: 3px;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: bottom;
    text-align: end;
    font-size: 1rem;
}

.discovered {
    display: inline-block;
    background-image: url('/assets/basecard.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgb(198, 225, 249);
    border: 10%;
    border-radius: 10%;
    padding: 6% 5% 1.5% 5%;

    margin-left: 3px;
    margin-right: 3px;
}

/* img.board-image {
    border-radius: 10%;
    justify-content: center;
    max-width: 75%;
    max-height: 75%;
    padding-bottom: 1px;
} */